<!DOCTYPE html>
<html>
<head>
  <title>Pawn Jobs</title>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style3.css' />
  <link rel="icon" type='image/png' href="/images/logo.png">
</head>
<body>
  <header><br>
    <div class="pawn_jobs2"><img src="/images/pawn_jobs.png" alt="super logo" id="pawn_jobs2"></div>
    <a href="/" id="titre">Pawn Jobs</a>
    <div id="sous-titre"><p>Apply to Pawn Jobs's offers</p></div>
    <div class="pawn_jobs"><img src="/images/pawn_jobs.png" alt="super logo" id="pawn_jobs"></div>
  </header>
  <main>
    <div class="apply-container">
      <div class="first-one">
        <p>Name of the applier : <%= username %></p>
        <p>Name of the company : <%= enterprise %></p>
        <p>Offer description : <%= description %></p>
      </div>
      <div class="second-one">

        <form class="" action="/apply/<%= jobid %>/send" method="post">
          <div class="form-container-textarea">
            <p><label for="content">Motivations :</label></p>
            <textarea name="content" required></textarea><br>  
          </div>
          <input type="submit" name="submit" value="Send" class="apply-submit">
        </form>

      </div>
    </div>
  </main>
</body>
</html>
