<!DOCTYPE html>
<html>
<head>
  <title>Mail sent</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style2.css' />
  <link rel="icon" type='image/png' href="/images/logo.png">
</head>
<body>
  <header><br>
    <a href="/" id="titre">Pawn Jobs</a>
    <div id="sous-titre"><p>Sign in Pawn Jobs</p></div>
  </header>
  <main>
    <div class="signin-container">
      <p class="mail-sent">A mail has been sent to you on your mail adress.</p>
    </div>
  </main>
</body>
</html>
